/* Simple styling using flexbox */

/* Font import */
@font-face {
  font-family: Roboto-Light;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
}

/* Root element (for global font settings) */
html {
  color: #b6b8bc;
  font-family: Roboto-Light, sans-serif;
  font-size: calc(15px + 0.390625vw);
  text-align: center;
}

/* Background */
body {
  background-attachment: fixed;
  background-color: #1f2933;
  background-position: top left;
  background-repeat: no-repeat;
}

/* All HTML items (avoid margin errors) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Containers */

.container {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5vh;
  justify-content: center;
}

.btn {
  gap: 1vh 5vw;
}

/* Container elements */

.title {
    flex-basis: 100%;
    font-size: 2.5em;
    margin: 1em;
}

.subtitle {
    flex-basis: 100%;
    font-size: 1.5em;
    margin: 1em
}

.item {
  font-size: 1.25em;
  margin: 0.5em;
}

.half-wide {
  flex-basis: 40%;
}

.full-wide {
  flex-basis: 100%;
}

/* Buttons */

button {
  background-color: #191919;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  height: 3em;
  opacity: 0.6;
  text-align: center;
  transition: 0.3s;
  width: 10em;
}

button:hover {
  opacity: 1;
}

.green {
  background-color: #04aa6d;
}

.orange {
  background-color: #f4511e;
}

/* Images */

/* Normal */
img.normal {
  box-shadow: -50px -50px 0 -40px #b6b8bc, 50px 50px 0 -40px #b6b8bc;
  height: auto;
  margin: 1.25em;
  max-width: 50vw;
  padding: 4px;
}

/* GitHub icon */
img.icon {
  cursor: pointer;
  height: auto;
  margin: 0.5em;
  max-width: 2em;
  transition: 0.3s;
}

img.icon:hover {
  opacity: 0.5;
}


/* Clickable */
.clickable-pic {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.clickable-pic:hover {
  opacity: 1;
}

/* Other */

.underl {
  text-decoration: underline;
}

/* Footer */

hr {
  border-top: 3px solid #b6b8bc;
  margin: 2em auto;
  width: 95%;
  overflow: hidden;
}

footer {
  display: block;
  margin-bottom: 1em;
}

/* Resizing for smaller screens. */
@media (max-width: 1024px) {

  .half-wide {
    flex-basis: 100%;
  }

  img.normal {
    max-width: 75vw;
  }
}
