/* Simple styling using flexbox */

/* Google font imports (Lato 300, Roboto 300). */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

/* Global */
body {
    background-attachment: fixed;
    background-color: #1F2933;
    background-position: top left;
    background-repeat: no-repeat;
    color: #B6B8BC;
    font-size: calc(15px + 0.390625vw);
    text-align: center;
}

/* All CSS items */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
    justify-content: center;
}

/* Container elements */

.title {        
    flex-basis: 100%;    
    font-family: Georgia, serif;
    font-size: 2em;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
}

.subtitle {
    flex-basis: 100%;    
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    margin: 1vh;
}

.item {
    font-family: "Roboto", sans-serif;
    font-size: 1.25em;
    margin: 1vh;
}

.pic_right, .pic_left {
    flex-basis: 40%;
}

.btn_right, .btn_left {
    flex-basis: 30%;
}

.fullwide {
    flex-basis: 100%;
}

/* Clickable items */

.clickable_pic {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;    
}

.clickable_pic:hover {
    opacity: 1;
}

/* Buttons */

button {
  background-color: #191919;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  height: 3em;
  opacity: 0.6;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  width: 10em;
}

button:hover {
    opacity: 1;
}

.green {
    background-color: #04AA6D;
    
}

.orange {
    background-color: #f4511e;
}

/* Images */

img.normal {
    box-shadow:
    -50px -50px 0 -40px #B6B8BC,
    50px 50px 0 -40px #B6B8BC;
    height: auto;
    margin: 1.25em;
    max-width: 50vw;
    padding: 4px;
}

/* GitHub icon. */
img.icon {
    cursor: pointer;
    height: auto;
    margin: 0.5rem;
    max-width: 2rem;
    transition: 0.3s;
}

img.icon:hover {
    opacity: 0.5;
}

/* Footer */

hr {
    border-top: 3px solid #B6B8BC;
    margin: 5vh auto;
    width: 95%;
}

footer {
    font-family: "Roboto", sans-serif;
    display: block;
    margin-bottom: 2.5vh;
}

/* Resizing for smaller screens. */
@media (max-width: 1024px) {
    .title { 
        flex-basis: 90%;
    }

    .subtitle {
        flex-basis: 80%;
    }

    .right, .left {
        flex-basis: 100%;
    }

    img.normal {
        max-width: 75vw;
    }
}
