/* Simple styling using flexbox */

html {
    background-color: #1F2933;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    font-size: calc(15px + 0.390625vw);
    text-align: center;
    color: #B6B8BC;
}

* {
    box-sizing: border-box;
    padding: 5px;
}

.container {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    flex: 100%;
    font-family: Georgia, serif;
    font-style: normal;
    font-size: 2rem;
}

.subtitle {
    flex: 100%;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 1.25rem;
}

.item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1rem;
}

.left {
    flex: 50%;
}

.right {
    flex: 50%;
}

@media (max-width: 800px) {
.right, .left {
    flex: 100%;
}
}

.break {
    flex-basis: 100%;
    overflow: hidden;
    padding: 0;
    height: 0;
    margin: 0;
    border: 0;
}

button {
  background-color: #191919;
  border: none;
  color: #FFFFFF;
  padding: 24px 64px;
  text-align: center;
  font-size: 0.9rem;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
    opacity: 1;
}

.green {
    background-color: #04AA6D;
    
}

.orange {
    background-color: #f4511e;
}

img{
    max-width: 70%;
    height: auto;
    box-shadow:
    -50px -50px 0 -40px #B6B8BC,
    50px 50px 0 -40px #B6B8BC;
}

footer {
    display: block;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 0.75rem;
}
