<!-- Selector page -->
{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="title">
    <h1>Instant Serotonin</h1>
  </div>
  <hr class="ln-top">
  <div class="subtitle">
    <h2>Choose your source</h2>
  </div>
  <!-- Capybara -->
  <div class="item half-wide">
    <h3>Capybara</h3>
    <a href="{{ url_for('result', animal='capybara') }}">
      <img
        class="normal clickable_pic"
        src="{{ url_for('static', filename='img/base_capybara.jpg') }}"
        alt="Random Capybara"
      />
    </a>
  </div>
  <!-- Manul -->
  <div class="item half-wide">
    <h3>Manul</h3>
    <a href="{{ url_for('result', animal='manul') }}">
      <img
        class="normal clickable_pic"
        src="{{ url_for('static', filename='img/base_manul.jpg') }}"
        alt="Random Manul"
      />
    </a>
  </div>
  <!-- Sand Cat -->
  <div class="item half-wide">
    <h3>Sand Cat</h3>
    <a href="{{ url_for('result', animal='sand_cat') }}">
      <img
        class="normal clickable_pic"
        src="{{ url_for('static', filename='img/base_sand_cat.jpg') }}"
        alt="Random Sand Cat"
      />
    </a>
  </div>
  <!-- Hedgehog -->
  <div class="item half-wide">
    <h3>Hedgehog</h3>
    <a href="{{ url_for('result', animal='hedgehog') }}">
      <img
        class="normal clickable_pic"
        src="{{ url_for('static', filename='img/base_hedgehog.jpg') }}"
        alt="Random Hedgehog"
      />
    </a>
  </div>
</div>
{% endblock %}
