<!-- Selector page -->
{% extends "base.html" %}
{% block body %}
<main class="container">
  <!-- Titles -->
  <div class="title" role="none">
    <h1>Instant Serotonin</h1>
  </div>
  <hr class="ln-top" role="none">
  <div class="subtitle" role="none">
    <h2>Choose your source</h2>
  </div>
  <!-- Capybara -->
  <section class="item half-wide" aria-labelledby="capybara-title">
    <h3 id="capybara-title">Capybara</h3>
    <a href="{{ url_for('result', animal='capybara') }}">
      <img
        class="normal clickable-pic"
        src="{{ url_for('static', filename='img/base_capybara.jpg') }}"
        alt="Get random capybara picture"
        width="500" height="750"
      />
    </a>
  </section>
  <!-- Manul -->
  <section class="item half-wide" aria-labelledby="manul-title">
    <h3 id="manul-title">Manul</h3>
    <a href="{{ url_for('result', animal='manul') }}">
      <img
        class="normal clickable-pic"
        src="{{ url_for('static', filename='img/base_manul.jpg') }}"
        alt="Get random capybara picture"
        width="auto" height="750"
      />
    </a>
  </section>
  <!-- Sand Cat -->
  <section class="item half-wide" aria-labelledby="sand-cat-title">
    <h3 id="sand-cat-title">Sand Cat</h3>
    <a href="{{ url_for('result', animal='sand_cat') }}">
      <img
        class="normal clickable-pic"
        src="{{ url_for('static', filename='img/base_sand_cat.jpg') }}"
        alt="Get random capybara picture"
        width="auto" height="750"
        loading="lazy"
      />
    </a>
  </section>
  <!-- Hedgehog -->
  <section class="item half-wide" aria-labelledby="hedgehog-title">
    <h3 id="hedgehog-title">Hedgehog</h3>
    <a href="{{ url_for('result', animal='hedgehog') }}">
      <img
        class="normal clickable-pic"
        src="{{ url_for('static', filename='img/base_hedgehog.jpg') }}"
        alt="Get random capybara picture"
        width="auto" height="750"
        loading="lazy"
      />
    </a>
  </section>
</main>
{% endblock %}
